body {
  text-align: center;
  background: #111;
  color: white;
  font-family: Arial;
}

video {
  width: 500px;
  border: 2px solid white;
}

textarea {
  width: 80%;
  height: 100px;
}